{% extends "layout.html" %}
{% block body %}
<div class="container" style="width:50%">
  {%if(true):%}
  {%endif%}
  <form action="{{url_for('monkey')}}" method="post" accept-charset="utf-8">
    <table class="table">
      <thead>
      </thead>
      <tbody>
      <tr>
        <td>
          Name:
        </td>
        <td>
          <div class="form-group">
            <input type="text" name="name" placeholder="name" class="form-control input-sm" value>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          Phone:
        </td>
        <td>
          <div class="form-group">
            <input type="text" name="phone" placeholder="phone" class="form-control input-sm" value>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          Email:
        </td>
        <td>
          <div class="form-group">
            <input type="text" name="email" placeholder="email" class="form-control input-sm" value>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          Company:
        </td>
        <td>
          <div class="form-group">
            <input type="text" name="company" placeholder="company" class="form-control input-sm" value>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          Url:
        </td>
        <td>
          <div class="form-group">
            <input type="text" name="url" placeholder="url" class="form-control input-sm" value>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          Description:
        </td>
        <td>
          <div class="form-group">
            <textarea name="description" placeholder="details of problem" rows="6" cols="40" class="form-control input-sm"></textarea>
          </div>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <input type="submit" name="some_name" class="btn btn-primary pull-right" value="Submit">
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</div>
{% endblock %}
