<!doctype>
<html>
<head>
<link rel=stylesheet type=text/css href="{{url_for('static', filename='css/bootstrap.css')}}"></link>
<link rel=stylesheet type=text/css href="{{url_for('static', filename='css/flat-ui.css')}}"></link>
</head>
<body>
<div class="container" style="width:50%">
  <h3>Local Dns Explore</h3>
  <form action="{{url_for("problem")}}" method="post" accept-charset="utf-8">
    <table class="table">
      <thead>
      </thead>
      <tbody>
      <tr>
        <td>
          Name:
        </td>
        <td>
          <div class="form-group">
            <input type="text" name="name" placeholder="name" class="form-control input-sm" value>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          Phone:
        </td>
        <td>
          <div class="form-group">
            <input type="text" name="phone" placeholder="phone" class="form-control input-sm" value>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          Email:
        </td>
        <td>
          <div class="form-group">
            <input type="text" name="email" placeholder="email" class="form-control input-sm" value>
          </div>
        </td>
      </tr>
      <tr>
        <td>
         Company:
        </td>
        <td>
          <div class="form-group">
            <input type="text" name="company" placeholder="company" class="form-control input-sm" value>
          </div>
        </td>
      </tr>
      <tr>
        <td>
         Url:
        </td>
        <td>
          <div class="form-group">
            <input type="text" name="url" placeholder="url" class="form-control input-sm" value>
          </div>
        </td>
      </tr>
      <tr>
        <td>
        Detail:
        </td>
        <td>
          <div class="form-group">
            <textarea name="detail" placeholder="details of problem" rows="6" cols="40" class="form-control input-sm"></textarea>
          </div>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
            <input type="submit" name="some_name" class="btn btn-primary pull-right" value="Submit">
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</div>
<script type="text/javascript" src="{{url_for('static', filename='js/application.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-select.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-switch.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-typeahead.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/flatui-checkbox.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/flatui-radio.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.8.3.min.js')}}"></script>
</html>
