{% extends "layout.html" %}
{% block body %}
<div class="container">

  <div class="boxer" style="height:500px">
    <table class="table table-striped">
      <thead>
        <th>Id</th>
        <th>解析时间</th>
        <th>网民姓名</th>
        <th>公司</th>
        <th>Url</th>
        <th>LocalDns</th>
        <th>客户端IP</th>
        <th>问题描述</th>
        <th>服务IP</th>
      </thead>
      <tbody>
      {% for monkey in monkeys %}
      <tr>
        <td>{{ monkey.id}}</td>
        <td>{{ monkey.name }}</td>
        <td>{{ monkey.company }}</td>
        <td>{{ monkey.name }}</td>
        <td>{{ monkey.url }}</td>
        <td>{{ monkey.local_dns }}</td>
        <td>{{ monkey.cient_ip}}</td>
        <td>{{ monkey.description}}</td>
        <td>{{ monkey.edge_server_ip}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="pagination">
    <ul>
      <li class="previous">
      <a href="#" class="fui-arrow-left"></a>
      </li>
      <li class="active"><a href="#fakelink">1</a></li>
      {% for i in range(2, 10) %}
      <li ><a href="#fakelink">{{ i }}</a></li>
      {% endfor %}
      <li><a href="#fakelink">10</a></li>
      <li class="next">
      <a href="#d" class="fui-arrow-right"></a>
      </li>
    </ul>
  </div>
  <a href="{{url_for('index')}}" class="btn btn-info">回首页</a>
</div>
{% endblock %}
